.idea/
puppeteer/node_modules
papillon/node_modules
puppeteer/resources/apis/
pagespeed/resources/apis
scripts/python
scripts/other
puppeteer/results
puppeteer/build
pagespeed/build
papillon/build/
puppeteer/logs/
pagespeed/logs/
pagespeed/results
puppeteer/resources/complete.json
puppeteer/resources/failed.json
pagespeed/resources/complete.json
pagespeed/resources/failed.json
node_modules
papillon/results
.ipynb_checkpoints